{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet" />

      <title>{% block title %}NetShoot{% endblock %}</title>
  </head>
  <body>
 <div class="navbar">
        <div class="container">
            <a class="logo" href="#">Remember<span>That</span></a>

            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">

                <ul class="primary-nav">
                    {% if request.user.is_authenticated %}
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="{% url 'post_add' %}" >Add Post</a></li>
                    <li><a href="{% url 'dashboard' %}" > My dashboard</a></li>
                </ul>

                <ul class="secondary-nav">
                     Hello {{ request.user.first_name }},
                    <li><a href="{% url 'logout' %}" >Logout</a></li>
                    {% else %}
                    <li > <a href="{% url 'login' %}"  >Log-in</a> </li><li><a href="{% url 'register' %}" > Register</a></li>
                     {% endif %}
                </ul>
            </nav>
        </div>
    </div>













    {% block content %}
      {% endblock %}



  </body>

</html>




