{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}

{{ post.title }}

{% endblock %}
{% block content %}

<div class="row justify-content-start">
<div class="col-md-12">
    <div class="detail_p">
  <div class="large-text">  {{ post.title }} </div>
    <div class="tags">
        {% trans "Category:" %}
      <a href="{{ post.category.get_absolute_url }}">
        {{ post.category }}
      </a>
    </div>

        <div class="detail-postimg">
    {{ post.body|safe|linebreaks }}
            </div>
    </div>
     <p class="tags">
      {% trans "Tags" %}:
      {% for tag in post.tags.all %}
        <a href="{% url 'post_list_by_tag' tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
     <p class="date" >
         <a href="{% url 'author'  post %}" ><img class="img-profile"  width="32" height="32" src="{{ post.author.photo.url }}"></a>
    {% trans "Published" %} {{ post.publish }} {% trans "by" %} {{ post.author.user }}, <i class="bi bi-eye"></i> {{ post.visit_count }}
  </p>
 {% if post.author.user == user %}
    <div class="icons-items">
          <a href="{% url 'post_edit' post.publish.year post.publish.month post.publish.day post.slug %}"> <i class="bi bi-pencil-square"></i></a>

    <a class="delete-icon" href="{% url 'post_delete' post.publish.year post.publish.month post.publish.day post.slug %}"> <i class="bi bi-trash-fill" ></i></a>

 </div>
        {% endif %}
{% with comments.count as total_comments %}
 <div class="large-text">
        {{ total_comments }} {% trans "comment" %}{{ total_comments|pluralize }}
    </div>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
      <p class="info">
           {{ comment.author }} {% trans "commented on" %}
          {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
        {% if comment.author == user %}
        <a href="{% url 'comment_edit' comment.id %}"> <i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'comment_delete' comment.id %}"> <i class="bi bi-trash-fill" ></i></a>
         {% endif %}
    </div>
      {% empty %}
    <p>{% trans "There are no comments yet." %}</p>
{% endfor %}

<div class="medium-text"> {% trans "Add a new comment" %} </div>
<div class="row">
    <div class="col-6">
        <form class="comment-form" method="post">
               {{ comment_form|crispy }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment" ></p>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}