{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="row justify-content-start">

<div class="col-md-8">
    <div class="detail_p">
    <h1>{{ post.title }}</h1>
    <div>
      <a href="{{ post.category.get_absolute_url }}">
        {{ post.category }}
      </a>
    </div>
  <p class="date" >
    Published {{ post.publish }} by {{ post.author }}
  </p>
    {{ post.body|safe|linebreaks }}
    </div>
 {% if post.author == user %}
     <a href="{% url 'post_edit' post.publish.year post.publish.month post.publish.day post.slug %}"> Update Post</a>
    <a href="{% url 'post_delete' post.publish.year post.publish.month post.publish.day post.slug %}"> Delete Post</a>
 {% endif %}


{% with comments.count as total_comments %}
    <h2>
         {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
      <p class="info">
           {{ comment.author }} commented on
          {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
        {% if comment.author == user %}
        <a href="{% url 'comment_edit' comment.id %}"> Update Comment</a>
        <a href="{% url 'comment_delete' comment.id %}"> Delete Comment</a>
         {% endif %}
    </div>
      {% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
        <h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
<div class="row">
    <div class="col-6">
            <form class="comment-form" method="post">
               {{ comment_form|crispy }}

            {% csrf_token %}

            <p><input type="submit" value="Add comment"></p>


        </form>



    </div>
</div>
{% endif %}
</div>
</div>


{% endblock %}
