{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-start">

<div class="col-md-8">
  <form action="" method="POST">
    {% csrf_token %}
    {{ post_form.media }}
      <div class="postlist">      {{ post_form.category|as_crispy_field }}</div>
      <div class="postlist">      {{ post_form.title|as_crispy_field }}</div>
      <div class="postlist">      {{ post_form.body|as_crispy_field }}</div>
      <div class="postlist">       {{ post_form.tags|as_crispy_field }}</div>
    <input type="submit" value="Edit Post">
  </form>
</div>
</div>
{% endblock %}