{% extends "base.html" %}

{% block content %}
<div class="post_delete">
  <form action="" method="POST">
    {% csrf_token %}
           <div class="postlist">   {{ post_form.category.label }} </div>
      <div class="postlist">      {{ post_form.category }}</div>
      <div class="postlist">  {{ post_form.category.error }} </div>
        <div class="postlist">   {{ post_form.title.label }} </div>
      <div class="postlist">      {{ post_form.title }}</div>
      <div class="postlist">   {{ post_form.title.error }} </div>
        <div class="postlist">   {{ post_form.body.label }} </div>
      <div class="postlist">      {{ post_form.body }}</div>
      <div class="postlist">   {{ post_form.body.error }} </div>


   <h4>Do you really to delete {{ post.title }} ?</h4>
    <input type="submit" value="Yes, Delete">
    <a href="/">No, keep post</a>
  </form>
</div>
{% endblock %}