{% extends "base.html" %}

{% block content %}
<div class="row justify-content-start">

<div class="col-md-8">
  <form action="" method="POST">
    {% csrf_token %}
    {{ post_form.media }}
       <div class="postlist">   {{ post_form.category.label }} </div>
      <div class="postlist">      {{ post_form.category }}</div>
      <div class="postlist">  {{ post_form.category.error }} </div>
        <div class="postlist">   {{ post_form.title.label }} </div>
      <div class="postlist">      {{ post_form.title }}</div>
      <div class="postlist">   {{ post_form.title.error }} </div>
        <div class="postlist">   {{ post_form.body.label }} </div>
      <div class="postlist">      {{ post_form.body|safe }}</div>
      <div class="postlist">   {{ post_form.body.error }} </div>

    <input type="submit" value="Edit Post"></p>
  </form>
</div>
</div>
{% endblock %}