{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit your account{% endblock %}

{% block content %}
<div class="row justify-content-start">

<div class="col-md-8">
<div id="detail_content">
  <h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <img  class="img-profile" width="64" height="64" src="{{ user.profile.photo.url }}">
  <form class="profile-edit" method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.media  }}
    <div class="postlist">      {{ profile_form.about|as_crispy_field }}</div>
    <div >      {{ profile_form.photo|as_crispy_field }}</div>

    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
  </form>
</div>
</div>
</div>
{% endblock %}
