{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}

{% block content %}
<div class="row justify-content-start">
    <div class="col-md-8">
      <div class="card-body">
            <h1>Log-in</h1>
            <p>Please, use the following form to log-in:</p>
            <form method="post">
              {{ form.crispy }}
              {% csrf_token %}
              <p><input type="submit" value="Log in"></p>
            </form>
      </div>
    </div>
    </div>
{% endblock %}
